<div>
  Hello
  <%= link_to t('.hi'), title: 'hello-title' %>
</div>

<%= link_to "Hello" %>
<textarea placeholder="my textarea placeholder"></textarea>
<input placeholder="my input placeholder">
<span>text within a span</span>
