<div>
  Hello
  <%= link_to t('.hi'), my_cool_link %>
  <%#currently we don't support t'ing titles within links= link_to t('.hi'), my_cool_link, title: 'hello-title' %>
</div>
<p>
  <%= link_to t('.yooo'), my_cool_link %>
</p>

<% #currently we don't support links outside of an enclosing tag= link_to "Hello" %>
<textarea placeholder="my textarea placeholder"></textarea>
<input placeholder="my input placeholder">
<span>text within a span</span>

<p>
  Here I have a super cool paragraph with an <%= link_to "inline link", "www.example.com", class: "my-cool-link" %>.
  The text even carries on after - it's a miracle!!
</p>
